[submodule "libraries/DHT"]
	path = libraries/DHT
	url = https://github.com/adafruit/DHT-sensor-library
[submodule "libraries/ethercard"]
	path = libraries/ethercard
	url = https://github.com/jcw/ethercard
[submodule "libraries/NewLiquidCrystal"]
	path = libraries/NewLiquidCrystal
	url = ./libraries/NewLiquidCrystal/
[submodule "libraries/AltSoftSerial"]
	path = libraries/AltSoftSerial
	url = https://github.com/PaulStoffregen/AltSoftSerial.git
[submodule "libraries/SoftReset"]
	path = libraries/SoftReset
	url = https://github.com/WickedDevice/SoftReset.git
